<!DOCTYPE html>
<html lang="es">
<body>
    <% const instruccion = views.find(p=> p.includes(view))%>
    <iframe style="height: 75vh; width: 100%;" src="/uploads/Instrucciones/<%=instruccion%>.pdf">

    </iframe>
</body>