<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="form-container">
        <form id="HU-form" enctype="multipart/form-data">
            <label for="name" class="input-form-label">nombre</label>
            <input type="text" id= "name" required>
            <label for="description" class="input-form-label">descripcion</label>
            <input type="text" id= "description" required>
            <label for="email" class="input-form-label">imagen</label>
            <input type="file" accept="image/png" id = "imageUrl" required>
            <label for="kit" class="input-form-label">kit</label>
            <select name="kit" id="kitId">
                <% KitList.forEach (kit => { %>

                <option value="<%= kit.id %>" selected><%= kit.name %> </option>
                <% }) %>
            </select>
            <button type="submit">Add HU</button>
        </form>
    </div>
</body>
<script defer>
    try{
    document.getElementById("HU-form").addEventListener("submit", async(e) =>{
    e.preventDefault();
    const name = document.getElementById("name").value;
    const description = document.getElementById("description").value;
    const imageUrl = document.getElementById("imageUrl").files[0];

    const formData = new FormData();
    formData.append("name", name);
    formData.append("description", description);
    formData.append("imageUrl", imageUrl); 
    formData.append("kitId", document.getElementById("kitId").value); 

        debugger;
    const res = await fetch("/kit/api/addHU",{
        method:"POST",
        headers:{
        
        },
        body: formData
    });
    if(res.ok){
        window.location.href = `/kit/${document.getElementById("kitId").value}/show`;
    }else{
        
        const response = await res.json();
        alert("Ha habido un error durante la creación: " + response.error);
    }
})
    }catch(err){
        console.log(err);
        
    }
</script>
</html>