<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/kit.js"></script>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <form id="kit-form" class="form-container">
        <label>Nombre del kit:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label>Necesidades del cliente:</label>
        <textarea id= "necesidades" name="necesidades" required></textarea>
        <br>
        <label>Historias de usuario</label>
        <br>
        <div class="scroll-container">

        <table >
            <tr>
                <th>Options</th>
            </tr>
            <tbody class="scroll-container">
            <% HUList.forEach (hu => { %>
                <tr>
                    <td>
                        <p class="input-form-label">
                            <input type="checkbox" name="patata[]" id="patata[]" value="<%=hu.id%>"><%= hu.name %>
                            </p>
                    </td>
                    
                </tr>

            <% }); %>
    </tbody>
            
        </table>
    </div>

        <br>
        <label>Nombre de Caja:</label>
        <input type="text" id="nameCaja" name="nameCaja" required>
        <label>Numero de caja:</label>
        <input type="number" id="idProduct" name="idProduct" required>
        <button type="submit">Add kit</button>

    </form>
    
</ul>

</body>
</html>