<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Bienvenido a mi aplicacion</h1>
    <h2>por ahora no hay mucho pero iremos mejorando</h2>
    <h5>mandará a hacer un kit</h5>
    <br>
    <a href="/menu" class="btn-redirect">Menu profesor</a>
    
</body>
</html>