body{
    margin: 0;
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
  }
  .button-container{
    width: 100%;
    background-color: lightgreen;
  }
  .text-center{
    text-align: center;
  }
  .text-left{
    text-align: left;
  }
  .form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

 
  }
  .user-profile{
    column-count: 2;
  }

  .container{
    width: 75%;
    align-content: center;
    background-color: bisque;
    height: 75%;
    margin: 10px 30px;
    padding: 10px;
    display: flex;
  }
  .container-grid{
    display:grid;
  }
  h6{
    margin: 10px;
  }
  a.btn-redirect{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: salmon;
    text-decoration: none;
    margin:5px;
    text-align: center;

  }
  .scroll-container{
    width: 100%;
    overflow: auto;
    max-height: 200px;

  }
  form{
    display: flex;
    flex-direction: column;
  }
  .input-form-label{
    font-size:medium;
    margin-left:10px;
  }
  input, button{
    padding: 10px 30px;
    font-size: large;
    margin: 10px;
  }