<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <script defer src="./../js/login.js"></script>
 
</head>
<body>
    <h1>Login</h1>
    <button type="button" onclick="location.href='/home'">Pagina principal</button>

    <form id="login-form">
        <label>Email:</label>
        <input type="text" name="email" id="email" required>
        <br>
        <label>Password:</label>
        <input type="text" name="password" id="password" required>
        <button type="submit">login</button>
    </form>
    <a href= "/users/register">Registro</a>
    
</body>
</html>