<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <script defer src="/login.js"></script>
    <link rel="stylesheet" href="/style.css">

 
</head>
<body>
    <div class="form-container">
    <h1 class="text-center">Login</h1>
    <form id="login-form">
        <label for="email" class="input-form-label">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="password" class="input-form-label">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">login</button>
    </form>
    <p>¿No tienes cuenta?
    <a href= "/register">Registro</a>
</p>
</div>
</body>
</html>