<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <script defer src="/register.js"></script>
    <link rel="stylesheet" href="/style.css">


</head>
<body>
    <div class="form-container">
    <h1 class="text-center">Registro</h1>
    <form id="register-form">
        <label>Nombre:</label>
        <input type="text" id= "name" name="name" required>
        <label>Email:</label>
        <input type="email" id="email" name="email" required>
        <label>Password:</label>
        <input type="password" id="password"name="password" required>
        <label>Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Crear</button>
    </form>
    <p>¿Tienes Cuenta?
    <a href="/login">Volver</a>
</p>
</div>
</body>
</html>