<!DOCTYPE html>
<html>
<head>
    <title>Quizzes</title>
</head>
<body>
    <h1>Lista de Quizzes</h1>
    <ul>
        <% quizzes.forEach(quiz => { %>
            <li>
                <a href="/quizzes/<%= quiz.id %>"><%= quiz.question %></a>
                <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/quizzes/new">Nuevo Quiz</a>
</body>
</html>